= simple_form_for(@monument) do |f|
  = f.error_notification

  .form-inputs
    = f.association :collection, include_blank: false
    = f.input :name
    = f.input :description
    = f.input :public
    

  .form-actions
    = f.button :submit, class: "button radius success"
