%h2 Step 2:
= simple_form_for(@picture) do |f|
  = f.error_notification

  .form-inputs
    = f.input :file
    = f.input :description
    = f.input :date
    = f.input :step
    

  .form-actions
    = f.button :submit, class: "button radius success", value: "overview"
