%h2 
  Step 3: Overview of
  = '"' + @monument.name + '"'
  
.row
  .large-12.columns
    = @monument.description
.row#header
  .small-3.columns
    thumb
  .small-2.columns
    name
  .small-2.columns
    date
  .small-4.columns
    description
  .small-1.columns

- @monument.pictures.each do |p|
  .row
    .small-2.columns
      = image_tag p.file.url(:thumb)
    .small-2.columns
      = p.name
    .small-2.columns
      = p.date
    .small-4.columns
      = p.description
    .small-2.columns
      = link_to "edit", edit_picture_path(p), class: "button radius mini"
      = link_to "delete", p, method: :delete, class: "button radius mini alert"

%br
= simple_form_for(@monument) do |f|
  = f.error_notification

  .form-inputs
    = f.input :step
  .form-actions
    = f.button :submit, class: "button radius success", value: "create monument"

= link_to "edit details", next_step_monument_path(@monument, step: 1), class: "button radius"
= link_to "add more pictures", next_step_monument_path(@monument, step: 2), class: "button radius"
%br
    