.row#header
  .small-3.columns
    thumb
  .small-2.columns
    name
  .small-2.columns
    date
  .small-4.columns
    description
  .small-1.columns

- @monument.pictures.each do |p|
  .row
    .small-2.columns
      = image_tag p.file.url(:thumb)
    .small-2.columns
      = p.name
    .small-2.columns
      = p.date
    .small-4.columns
      = p.description
    .small-2.columns
      = link_to "edit", edit_picture_path(p), class: "button radius mini"
      = link_to "delete", p, method: :delete, class: "button radius mini alert"