- unless @monuments.empty?
  .row#header
    .small-2.columns
      collection
    .small-2.columns
      name
    .small-3.columns
      description
    .small-3.columns
      pictures
    .small-1.columns
      public
    .small-2.columns
  - @monuments.each do |m|
    .row
      .small-2.columns
        = link_to m.collection.name, collection_path(m.collection) 
      .small-2.columns
        = link_to m.name, m
      .small-3.columns
        = m.description
      .small-3.columns
        = m.pictures.count
      .small-1.columns
        = m.public
      .small-1.columns
        = link_to "edit", edit_step_monument_path(m, 1), class: "button mini radius"

- else
  No public monuments
  