- unless @monuments.empty?
  .row
    .large-12.columns
      = form_tag monuments_orbit_path, :method => 'get' do
        .row
          .small-6.columns
            = text_field_tag :search, params[:search]
          .small-3.columns.end
            = submit_tag "search coverflows", :name => nil, class: "button radius"
  .row
    .large-12.columns
      - @monuments.each do |m|
        - if m.pictures.count > 0 # only show with pictures
          %br
          %h3= m.name + " (" + m.pictures.count.to_s + " pictures)"
          %ul#first_slider.example-orbit{"data-options" => "animation: fade; pause_on_hover: false; slide_number: false; animation_speed: 1000; timer_speed: 5000; navigation_arrows: true; timer: true; variable_height: false; swipe: true; bullets: false;", "data-orbit" => ""}
            - m.pictures.each do |p|
              %li
                = image_tag p.file.url(:original)
        

- else
  No public monuments
  